//
// MERGE.RC2 - resources Microsoft Visual C++ does not edit directly
//

#ifdef APSTUDIO_INVOKED
	#error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#pragma code_page(1252)

#include "../resource.h"

/////////////////////////////////////////////////////////////////////////////
// Add manually edited resources here...
#include "../Merge.rc"
#include "../Merge2.rc"

1 RT_MANIFEST "WinMergeU.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
