/////////////////////////////////////////////////////////////////////////////
// Basque (EUS_Xabier Aramendi) resources
// $Id$

LANGUAGE LANG_BASQUE, SUBLANG_DEFAULT
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

//
//  ***  TRANSLATED STRINGS ***
// Translate strings  below
// 
STRINGTABLE 
BEGIN
    IDS_PROJNAME            "ShellExtension"
    IDS_CONTEXT_MENU        "WinMerge"
    IDS_CONTEXT_HELP        "Ireki WinMergerekin"
    IDS_CONTEXT_HELP_MANYITEMS "Mesedez ez hautatu 2 gai baino gehiago"
    IDS_COMPARE             "Alderatu"
    IDS_COMPARE_ELLIPSIS    "Alderatu..."
    IDS_COMPARE_TO          "Alderatu Honekin"
    IDS_HELP_SAVETHIS       "Gorde helburu hau. Hautatu beste helburu bat helburu honekin alderatzeko."
    IDS_HELP_COMPARESAVED   "Alderatu gordetako helburuarekin (%1)"
    IDS_RESELECT_FIRST      "Bir-hautatu Lehenengoa"
END

/////////////////////////////////////////////////////////////////////////////
